VITE_PROXY_BASE_URL=http://127.0.0.1:8080
VITE_LUXHUB_CLIENT_ID=luxhub-local
VITE_LUXHUB_REDIRECT_URI=http://127.0.0.1:5173/callback
VITE_LUXHUB_SCOPE=openid accounts
VITE_LUXHUB_RESPONSE_TYPE=code
VITE_LUXHUB_CODE_CHALLENGE_METHOD=S256
